@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {font-family: 'Nanum Gothic', sans-serif;}
a {
    color: inherit;
    text-decoration: none;
}
table {
    margin: auto 0px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    word-break: keep-all;
}
th {
    vertical-align: middle;
    text-align: center;
}
header {
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
}
#header {background-color: #08090b}
body {
    margin: 0px;
}
.main {
    font-weight: bold;
    background-color: #6e2cff;
    border: 2px solid #6e2cff;
    border-radius: 5px;
    color: inherit;
    height: 30px;
    font-size: 15px;
    padding: 1px 10px;
    margin: 10px 0px 10px 2px;
}
.light .main {
    background-color: #b59dff;
    border: 2px solid #b59dff;
}
#home {
    height: 40px;
    padding: 5px;
    display: block;
}
#home:hover {background-color: #333}
@media (min-width: 900px) {
    .main:hover {
        background-color: transparent;
        color: #6e2cff;
    }
    .light .main:hover {color: #b59dff;}
}
.dark {
    color: #fff;
    background-color: #1f2023;
}
.dark table {border: 2px solid white;}
.dark th {
    border: 1px solid #393939;
    border-bottom: 1px solid #fff;
}
.dark td {border: 1px solid #393939;}
.light {
    color: #000;
    background-color: #fff;
}
.light table {border: 2px solid black;}
.light td {border: 1px solid #ddd;}
.light th {
    border: 1px solid #ddd;
    border-bottom: 1px solid #000;
}
#content {
    margin: 20px 16px;
}
@media (max-width: 450px) {
    header {padding: 0px 12px;}
}
@media (min-width: 1232px) {
    #content {
        margin: 20px auto;
        width: 1200px;
    }
    header {
        width: 1200px;
        margin: 0 auto;
    }
}
