a {
  color: inherit;
  text-decoration: none;
}
.btn {
  font-size: 50px;
  font-weight: bold;
  background-color: transparent;
  border: transparent;
  color: inherit;
}
.hidden {
  display:none;
  }
.btn:hover .shown {
  display:none;
}
.btn:hover .hidden {
  display:block;
}
.main {
  font-weight: bold;
  background-color: #6e2cff;
  border: 2px solid #6e2cff;
  border-radius: 5px;
  color: inherit;
  width: 75px;
  height:25px;
  }
.main:hover {
  background-color: transparent;
  color: #6e2cff;
  }
table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  table-layout: fixed;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-collapse: collapse;
}
td {
  vertical-align : top;
  text-align: left;
  font-size: 12px;
}
th {
  vertical-align: middle;
  font-size:20;
  text-align: center;
}
tbody tr {
  height:100px;
}
.dark td,th {
  border: 1px solid #393939;
}
.light td,th {
  border: 1px solid #ddd;
}
.dark {
  color: #fff;
  background-color: #1f2023;
}
.dark table {
  border: 2px solid white;
}
.light {
  color: #000;
  background-color: #fff;
}
.light table {
  border: 2px solid black;
}
hv {
  padding: 10px 10px;
  background-color: rgba(70,70,70,0.8);
  color: #ffffff;
  display: none;
  position: absolute;
  word-break:keep-all;
}
.sch:hover + hv {
  display: block;
}
.mem {font-size: 0.75em}
date {
  font-weight:bolder;
}
.unupdate {
  color: #777;
}
.left {
  float: left;
  text-align: left;
}
.right {
  float: right;
  text-align:right;
}
.title {
  font-size:50px;
}
.simple .detail_shown {display: none;}
.simple .detail_hidden {display: block;}